@utility custom-scrollbar {
  &::-webkit-scrollbar {
    width: 6px !important;
    height: 6px !important;
    display: block !important;
  }

  &::-webkit-scrollbar-button {
    display: none !important;
    width: 0 !important;
    height: 0 !important;
  }

  &::-webkit-scrollbar-track {
    background-color: var(--color-neutral-50) !important;
    border-radius: 20px !important;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-neutral-500) !important;
    border-radius: 20px !important;
    border: 1.5px solid var(--color-neutral-50);
    background-clip: padding-box;
  }

  & textarea {
    scrollbar-width: none !important;
  }
  & textarea::-webkit-scrollbar {
    display: none !important;
    width: 0 !important;
  }
}

@utility project-scrollbar {
  &::-webkit-scrollbar {
    width: 7px !important;
    display: block !important;
  }

  &::-webkit-scrollbar-track {
    background-color: var(--color-neutral-300) !important;
    border-radius: 20px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-neutral-500) !important;
    border-radius: 20px !important;
    background-clip: padding-box;
  }
}

@utility no-scrollbar {
  /* Chrome, Safari, Edge */
  &::-webkit-scrollbar {
    display: none !important;
  }

  /* Firefox */
  scrollbar-width: none !important;

  /* IE and Edge */
  -ms-overflow-style: none !important;
}

@utility terms-scrollbar {
  &::-webkit-scrollbar {
    width: 19px !important;
    display: block !important;
  }

  &::-webkit-scrollbar-track {
    background-color: var(--color-neutral-50, #f5f5f5) !important;
    border-radius: 10px !important;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    background-clip: padding-box;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-neutral-400, #9e9e9e) !important;
    border-radius: 10px !important;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    background-clip: padding-box;
  }

  &::-webkit-scrollbar-button {
    display: none !important;
  }
}

@utility modal-scrollbar {
  &::-webkit-scrollbar {
    width: 12px !important;
    display: block !important;
  }

  &::-webkit-scrollbar-track {
    background-color: var(--color-neutral-300) !important;
    border-radius: 20px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-primary) !important;
    border-radius: 20px !important;
    background-clip: padding-box;
  }

  &::-webkit-scrollbar-button {
    display: none !important;
  }
}

