@import 'tailwindcss';
@import './typography.css';

@font-face {
  font-family: 'Pretendard';
  src: url('../fonts/Pretendard/Pretendard-Regular.woff') format(truetype);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('../fonts/Pretendard/Pretendard-Bold.woff') format(truetype);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SebangGothic';
  src: url('../fonts/Sebang-gothic/SEBANG\ Gothic\ OTF.otf') format(truetype);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SebangGothic';
  src: url('../fonts/Sebang-gothic/SEBANG\ Gothic\ OTF\ Bold.otf')
    format(truetype);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@theme {
  /* primary */
  --color-primary: #f87d02;

  /* secondary */
  --color-secondary: #ffb800;

  /* branding gradient */
  --branding-gradient: linear-gradient(90deg, #f89202 10.08%, #9e9e9e 103.03%);

  /* neutral */
  --color-neutral-50: #f5f5f5;
  --color-neutral-100: #e5e5e5;
  --color-neutral-200: #d4d4d4;
  --color-neutral-300: #bdbdbd;
  --color-neutral-400: #9e9e9e;
  --color-neutral-500: #757575;
  --color-neutral-600: #525252;
  --color-neutral-700: #343434;
  --color-neutral-800: #1f1f1f;

  /* text */
  --color-text-default: #f5f5f5;
  --color-text-muted: #9e9e9e;
  --color-text-disabled: #9e9e9e;

  /* hover */
  --color-hover: #ffa726;

  /* active */
  --color-active: #ff9000;

  /* disabled */
  --color-disabled: #5a4a3a;

  /* alert */
  --color-alert: #e5484d;
}

@layer base {
  body {
    font-family: 'Pretendard', sans-serif;
    width: 100%;
    height: 100%;
  }
  button {
    cursor: pointer;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
