:root {
  /* typography - headings */
  --text-h1: 48px;
  --text-h1--line-height: 52px;
  --text-h1--font-weight: 700;

  --text-h2: 36px;
  --text-h2--line-height: 40px;
  --text-h2--font-weight: 700;

  --text-h3: 32px;
  --text-h3--line-height: 36px;
  --text-h3--font-weight: 700;

  --text-h4: 28px;
  --text-h4--line-height: 32px;
  --text-h4--font-weight: 700;

  --text-h5: 22px;
  --text-h5--line-height: 40px;
  --text-h5--font-weight: 600;

  /* typography - body */
  --text-body-l: 18px;
  --text-body-l--line-height: 22px;
  --text-body-l--font-weight: 600;

  --text-body-m: 16px;
  --text-body-m--line-height: 20px;
  --text-body-m--font-weight: 600;

  --text-body-s: 14px;
  --text-body-s--line-height: 18px;
  --text-body-s--font-weight: 600;

  --text-caption: 12px;
  --text-caption--line-height: 16px;
  --text-caption--font-weight: 400;
}

/* mobile typo 
TODO: max width 조절 
*/
@media (max-width: 640px) {
  :root {
    /* headings */
    --text-h1: 34px;
    --text-h1--line-height: 38px;

    --text-h2: 28px;
    --text-h2--line-height: 32px;

    --text-h3: 22px;
    --text-h3--line-height: 26px;
    --text-h3--font-weight: 600;

    --text-h4: 20px;
    --text-h4--line-height: 24px;
    --text-h4--font-weight: 600;

    /* body */
    --text-body-l: 18px;
    --text-body-l--line-height: 22px;

    --text-body-m: 17px;
    --text-body-m--line-height: 21px;

    --text-body-s: 14px;
    --text-body-s--line-height: 18px;
  }
}

@layer components {
  .text-h1 {
    font-size: var(--text-h1);
    line-height: var(--text-h1--line-height);
    font-weight: var(--text-h1--font-weight);
  }
  .text-h2 {
    font-size: var(--text-h2);
    line-height: var(--text-h2--line-height);
    font-weight: var(--text-h2--font-weight);
  }
  .text-h3 {
    font-size: var(--text-h3);
    line-height: var(--text-h3--line-height);
    font-weight: var(--text-h3--font-weight);
  }
  .text-h4 {
    font-size: var(--text-h4);
    line-height: var(--text-h4--line-height);
    font-weight: var(--text-h4--font-weight);
  }
  .text-h5 {
    font-size: var(--text-h5);
    line-height: var(--text-h5--line-height);
    font-weight: var(--text-h5--font-weight);
  }
  .text-body-l {
    font-size: var(--text-body-l);
    line-height: var(--text-body-l--line-height);
    font-weight: var(--text-body-l--font-weight);
  }
  .text-body-m {
    font-size: var(--text-body-m);
    line-height: var(--text-body-m--line-height);
    font-weight: var(--text-body-m--font-weight);
  }
  .text-body-s {
    font-size: var(--text-body-s);
    line-height: var(--text-body-s--line-height);
    font-weight: var(--text-body-s--font-weight);
  }
  .text-caption {
    font-size: var(--text-caption);
    line-height: var(--text-caption--line-height);
    font-weight: var(--text-caption--font-weight);
  }
}
